<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>enter-page</title>
</head>
<body>
<form name="f"
      method="post"
      action="/process_login">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}">

    <label for="usernameId">USERNAME</label>
    <input type="text" name="username" id="usernameId">
    <br>
    <label for="passwordId">PASSWORD</label>
    <input type="text" name="password" id="passwordId">

    <input type="submit" value="Log in">
    <div th:if="${param.error}" style="color: blueviolet">
        <p>Keep calm. You are brave. Just invalid username or password</p>
    </div>
</form>
<form th:method="GET" th:action="@{/auth/registration}">
    <input type="submit" value="Registration">
</form>
</body>
</html>